/* 
RESET 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
GENERAL 
*/

.container {
    max-width: 71.25rem;
    padding: 0 1.25rem;
    margin: 0 auto;
}



.button-like {
    border-radius: 20px;
    padding: 10px;
}

/* 
TIPHOGRAPHY SYSTEM
-COLORS
*/

:root{
    --first-color: #0084FD;
    --first-color-light:#B5DDFF;
    --secondary-color:#9792E4;
    --last-color: #333333;
    --bg-setion-p: #f4f4f4;
}

.first-color-bg {
    background-color: var(--first-color);
}

.first-color-text {
    color: var(--first-color);
}

.first-color-light-bg {
    background-color: var(--first-color-light);
}

.first-color-light-text {
    color: var(--first-color-light);
}

.secondary-color-bg {
    background-color: var(--secondary-color);
}

.secondary-color-text {
    color: var(--secondary-color);
}

.last-color-bg {
    background-color: var(--last-color);
}

.white-bg {
    background-color: var(--bg-setion-p);
}