/* 
HEADER 
*/

header {
    position: sticky;
    top: 0;
    left: 0;
}

.header-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 0;
}

.header-main-content nav.nav-container {
    display: none;
}

.nav-container > ul {
    display: flex;
    list-style: none;
    
}

.nav-container > ul > li > a {
    display: inline-block;
    padding-left: 0.625rem;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.hamburger-container {
    color: white;
}

/* 
MAIN 
*/


main > section {
margin: 1.25rem 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.625rem;
    padding: 3.125rem 0;
}

.card {
    width: calc(100% - 1.25rem);
    margin: .625rem;
}

.card > div  {
    padding: .625rem;
}

.header-section-partner, .main-section-partner {
    text-align: center;
}

.benefit-card {
    background-color: white;
    margin: .625rem 0;
}



/* 
FOOTER 
*/

footer {
    color: white;
}

.footer-container {
    text-align: center;
}

/* 
RESPONSIVE
*/


/* --- TABLET DA 768PX IN POI --- */

@media screen and (min-width: 768px) {
/* 
HEADER 
*/

/* 
MAIN 
*/

.card {
    width: calc((100% / 3) - 1.25rem);
}

.card:first-child {
    width: calc(((100% / 3) * 2) - 1.25rem);
}

.main-section-partner {
    text-align: left;
}

.partner-card {
    display: flex;
}

.photo-partner {
    width: 20%;
}

.info-partner {
    width: 80%;
}

.benefits-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.625rem;
}

.benefit-card {
    width: calc(100% - 1.25rem);
    margin: .625rem;
}

.benefit-card > div  {
    padding: .625rem;
}

.benefit-card {
    width: calc((100% / 2) - 1.25rem);
}

.about-us-content {
    display: flex;
}

.about-us-left {
    width: 60%;
}

.about-us-right {
    width: 40%;
}


/* 
FOOTER 
*/
}



/* --- DESKTOP DA 992PX IN POI --- */

@media screen and (min-width: 992px) {
/* 
HEADER 
*/

.header-main-content nav.nav-container {
    display: block;
}

.header-main-content .hamburger-container {
    display: none;
}

/* 
MAIN 
*/

.main-card-content {
    display: flex;
    flex-wrap: wrap;
}

.main-card-content > div {
    width: 50%;
}

.strategy-cards {
    display: flex;
    justify-content: space-around;
    padding: 0 1.25rem;
    align-items: flex-end;
}

.strategy-card:first-child {
    padding: 0.625rem 2.5rem;
}

.strategy-card {
width: 50%;
}

.benefit-card {
    width: calc((100% / 3) - 1.25rem);
}

.about-us-left {
    width: 80%;
}

.about-us-right {
    width: 20%;
}

.white-bg {
    padding: 0 1.25rem 1.25rem 1.25rem;
}

.white-bg > div > img {
    width: 100%;
    padding: 0 1.25rem;
}

/* 
FOOTER 
*/
}



/* 
DEBUG 
*/

.debug .photo-partner, .info-partner, .benefit-card, .about-us-left, .about-us-right {
    border: 1px solid black;
}

.debug

.header-main-content nav a.button-like {
    color: black;
    background-color: white;
}