/* 
HEADER 
*/

.header-main-content {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 0;
}

.header-main-content nav.nav-container {
    display: none;
}

.nav-container > ul {
    display: flex;
    list-style: none;
    
}

.nav-container > ul > li > a {
    padding-left: 0.625rem;
    text-decoration: none;
}

/* 
MAIN 
*/

/* 
FOOTER 
*/


/* 
RESPONSIVE
*/


/* --- TABLET DA 768PX IN POI --- */

@media screen and (min-width: 768px) {
/* 
HEADER 
*/

/* 
MAIN 
*/

/* 
FOOTER 
*/
}



/* --- DESKTOP DA 992PX IN POI --- */

@media screen and (min-width: 992px) {
/* 
HEADER 
*/

.header-main-content nav.nav-container {
    display: block;
}

.header-main-content .hamburger-container {
    display: none;
}

/* 
MAIN 
*/

/* 
FOOTER 
*/
}



/* 
DEBUG 
*/